# ignore sample datastructured output for sensitivity
example_output.xml
output_windows_comp.xml
output_windows_json_fix_alexa_oui.xml


extracted_data.json
extracted_data_test.json
extracted_data_test_update.json

# ignore database files
network_scans.db

# ignore pycache
__pycache__/